<<<<<<< HEAD

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0; 
    }

    h1 { font-size: 180%; }
    h2 { font-size: 90%; }

    .img-avatar p { font-size: 90%; }

    .main-nav li a {
        font-size: 140%;
    }

    .social-links,
    .main-nav {
        float: none;
        text-align: center;
    }

    .icon-facebook {
        color: #3b5998;
    }
    
    .icon-twitter {
        color: #55acee;
    }
    
    .icon-github {
        color: #000;
    }
    
    .icon-linkedin {
        color: #007bb5;
    }

    .logoLinguagem img {
        width: 30%;
    }
    
    .box {
        text-align: center;
    }
}


/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0; 
    }

    h1 { font-size: 180%; }
    h2 { font-size: 90%; }
    
    .img-avatar p { font-size: 90%; }

    .main-nav li a {
        font-size: 140%;
    }

    .social-links,
    .main-nav {
        float: none;
        text-align: center;
    }

    .icon-facebook {
        color: #3b5998;
    }
    
    .icon-twitter {
        color: #55acee;
    }
    
    .icon-github {
        color: #000;
    }
    
    .icon-linkedin {
        color: #007bb5;
    }

    .logoLinguagem img {
        width: 30%;
    }
    
    .box {
        text-align: center;
    }
=======

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0; 
    }

    h1 { font-size: 180%; }
    h2 { font-size: 90%; }

    .img-avatar p { font-size: 90%; }

    .main-nav li a {
        font-size: 140%;
    }

    .social-links,
    .main-nav {
        float: none;
        text-align: center;
    }

    .icon-facebook {
        color: #3b5998;
    }
    
    .icon-twitter {
        color: #55acee;
    }
    
    .icon-github {
        color: #000;
    }
    
    .icon-linkedin {
        color: #007bb5;
    }

    .logoLinguagem img {
        width: 30%;
    }
    
    .box {
        text-align: center;
    }
}


/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0; 
    }

    h1 { font-size: 180%; }
    h2 { font-size: 90%; }
    
    .img-avatar p { font-size: 90%; }

    .main-nav li a {
        font-size: 140%;
    }

    .social-links,
    .main-nav {
        float: none;
        text-align: center;
    }

    .icon-facebook {
        color: #3b5998;
    }
    
    .icon-twitter {
        color: #55acee;
    }
    
    .icon-github {
        color: #000;
    }
    
    .icon-linkedin {
        color: #007bb5;
    }

    .logoLinguagem img {
        width: 30%;
    }
    
    .box {
        text-align: center;
    }
>>>>>>> 1bb47b956ed556cfa9a89872c869be9b28de9daa
}